.container {
  display: flex;
  justify-content: space-between;

  .title {
    font-size: 60px;
    font-weight: 700;
  }

  .text {
    font-size: 50px;
    font-weight: 600;
    color: #9e9999;
  }
}
